.chat-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  --padding-top: 0;
  --padding-bottom: 0;
}

.chat-container {
  width: 100%;
  height: 100%;
  display: flex;

  @media (max-width: 768px) {
    flex-direction: column; // pantallas pequeñas en columna
    position: relative;
  }
}

.left-page {
  width: 30%;
  background-color: rgb(196, 170, 228);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding: 9rem;
  min-width: 300px;

  @media (max-width: 768px) {
    display: none; // ocultar parte izquierda datos usaurio y opciones en pantallas pequeñas
  }

  ion-avatar {
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
  }

  ion-text {
    text-align: center;
    margin-bottom: 2rem;

    h6 {
      font-size: 1.2rem;
      margin: 0;
      color: #333;
    }

    p {
      color: #4a4a4a;
      margin: 0.5rem 0;
    }
  }

  ion-button {
    width: 100%;
    --margin: 0.5rem 0;
    --border-radius: 25px;
    height: auto;
    padding: 0.5rem;

    text-align: center;
    font-size: 0.9rem;

    ion-icon {
      min-width: 24px;
      margin-right: 10px;
    }

    @media (min-width: 768px) {
      min-width: 280px;
    }
  }
}

.right-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
  padding-top: 4rem;
  overflow: hidden; // controlar el scroll
  position: relative;

  .messages-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    // flex-direction: column-reverse; //para q se vean ,mnsajes mas nuevos abajo y así ir al final del cont
    gap: 1rem;
    padding-top: 7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    overflow-y: auto;
    position: relative;
    background-color: #ffffff;

    no-more-msgs {
      color: black;
      text-align: center;
      padding: 10px;
      background-color: #78c2f3;
      border-bottom: 1px solid #e8c5f8;
    }

    ion-infinite-scroll {
      position: relative;
      order: 2;
      top: 0px;
      width: 100%;
      z-index: 1;
      margin-top: 2rem;
      // background: blue;
    }

    .loading-spinner {
      margin-top: 25px;
      position: relative;
      z-index: 1000;
      font-size: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0rem;

      ion-spinner {
        margin-bottom: 0.5rem;
        margin-top: 100px;
      }

      p {
        color: var(--ion-color-medium);
        margin: 0;
      }
    }

    // datos del mensaje que envío
    .message {
      display: flex;
      flex-direction: column;
      max-width: 50%;
      padding: 1rem;
      border-radius: 1rem;
      position: relative;

      .message-data {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1rem;
        // align-self: justify;

        .time,
        .date {
          font-size: 0.6rem;
          color: #3e3d3d;
        }

        .time {
          margin-left: auto; // Pushes time to the right
        }

        .checkmark {
          margin-left: 4px; // Add some space between time and checkmark
        }
      }

      &.my-message {
        align-self: flex-end;
        background-color: #dcd0f8;
        color: rgb(0, 0, 0);
      }

      &.other-message {
        align-self: flex-start;
        background-color: rgb(166, 231, 243);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .header {
        display: flex;
        align-items: flex-start;
        align-content: center;
        gap: 0.5rem;
        // margin-bottom: 0.8rem;
        // width: 90%;

        .avatar {
          width: 80%;
          height: auto;
          align-items: center;
        }

        .user-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;
          align-items: flex-start;
          gap: 0.2rem;
        }

        .username {
          font-weight: 600;
          font-size: 0.8rem;
          color: #333;
          text-align: left;
        }

        .location-info {
          display: flex;
          font-size: 0.8rem;
          align-items: center;
          color: #3e3d3d;

          .pin {
            font-size: 0.7rem;
          }
        }
      }
    }
  }

  ion-text {
    line-height: 1.4;
    font-size: 0.9rem;
    color: #333;
  }

  .form {
    position: static;
    background-color: rgb(133, 163, 168);
    padding: 0.5rem;
    box-shadow: 0 -2px 10px rgba(187, 215, 87, 0.1);

    .message-form {
      display: flex;
      gap: 1rem;

      ion-input {
        flex: 1;
        background-color: #ffffff;
        border-radius: 1.5rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
      }

      ion-button {
        --background: #be2ddb;
        color: #ffffff;
        --border-radius: 2rem;
        --padding-start: 1rem;
        --padding-end: 1rem;
        --padding-top: 0.5rem;
        --padding-bottom: 0.5rem;
      }
    }
  }
}
