
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  //width: 100%;
  gap: 8px;
}

ion-toolbar {
  --background: rgb(105, 201, 230);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.header-left {
  display: flex;
  align-items: center;
}

.icon-name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 25px;
}

ion-icon {
  margin-right: 25px;
}

.logo {
  padding: 5px;
  margin-left: 25px;
  width: 30vw;
  max-width: 80px;
  min-width: 20px;
  height: auto;

}

.log-in-out {
  font-size: 3rem;
}

.app-name {
  color: rgb(16, 14, 18);
  font-size: clamp(1rem, 4vw, 1.7rem);
  font-weight: bold;
  // flex: 1;
  // overflow: hidden;
  text-overflow: ellipsis;
}

.user-name {
  font-size: clamp(0.5rem, 2vw, 1rem);
  margin-right: 25px;

}

.login-container {
  .login-button {
    .login-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;
      margin-right: 20px;

      .login-icon {
        font-size: 4rem;
        margin: 0;
      }

      .login-text {
        font-size: 0.8rem;
      }
    }
  }

}

ion-avatar {
  width: 50px;
  height: auto;
  padding: 8px;
}

ion-buttons {
  display: flex;
  align-items: center;

}

ion-button {
  font-size: clamp(0.7rem, 3vw, 0.3rem);
  // font-size: 0.8rem;
  font-weight: 800;
}
